*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', Montserrat, sans-serif;
    background-color: #c8c8c8;
    color: #292929;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.header h1{
    font-size: 2.5rem;
}

.header h3{
    font-size: 1.2rem;
    padding-bottom: 5px;
}

.header #grid-size{
    padding: 4px 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
}

#btns{
    display: flex;
    gap: 20px;
    padding: 10px;
}

.btn{
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

#black{
    background-color: #292929;
}

#red{
    background-color: #ff0000;
}

#random{
    background-image: linear-gradient(to bottom right, rgb(0, 8, 255), rgb(255, 0, 0));
}

#eraser{
    background-color: #ffffff;
    color: #292929;
}

#reset{
    background-color: #000fff;
}

#create-grid{
    background-color: #292929;
}

#sketchpad{
    display: grid;
    width: 500px;
    height: 500px;
    border: solid 1px #292929;
    margin: 20px 0;
}